.container{
    padding: 200px 120px;
    display: flex;
    justify-content: center;
}

@media all and (max-width: 1150PX) {
    .container {
        padding: 200px 60px;
    }
}

@media all and (max-width: 900PX) {
    .container {
        padding: 160px 0px;
    }
}

@media all and (max-width: 600PX) {
    .container {
        padding: 132px 0px 60px 0px;
    }
}