.container {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding: 200px 170px;
    .mainTitle {
        font-size: 40px;
        font-weight: bold;
        padding: 0px;
        margin: 0px;
    }
    .subContainer {
        display: flex;
        flex-direction: column;
        gap: 32px;
        .subTitle {
            font-size: 24px;
            font-weight: bold;
            padding: 0px;
            margin: 0px;
        }
        .contentContainer {
            display: flex;
            flex-direction: column;
            gap: 20px;
            .contentSubContainer {
                display: flex;
                flex-direction: column;
                gap: 8px;
                .content {
                    padding: 0px;
                    margin: 0px;
                    font-size: 16px;
                    font-weight: bold;
                }
            }
        }
    }
    
}


@media all and (max-width: 900PX) {
    .container {
        padding: 160px 80px 80px 80px;
    }
}

@media all and (max-width: 600PX) {
    .container {
        padding: 16px 16px 8px 16px;
        .mainTitle {
            font-size: 32px;
            .subContainer {
                .subTitle {
                    font-size: 20px;
                }
                .contentContainer{
                    .contentSubContainer{
                        .content {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}