:root {
    --first-color: #E1CF65;
    --second-color: #3DB08D;
}
.mainContainer{
    background-color: #16151C;
    padding: 32px 128px;
}

.outletContainer{
    background-color: #16151C;
    
    font-family: "Inter", sans-serif;
    line-height: auto;
}

@media all and (max-width: 900PX) {
    .mainContainer {
        padding: 32px 32px;
    }
}

@media all and (max-width: 600PX) {
    .mainContainer {
        padding: 0p;
    }
}