.container{
    display: flex;
    flex-direction: column;
    padding: 60px 40px;
    gap: 60px;
    color: #fff;
    .subContainerFirst{
        display: flex;
        flex-direction: row;
        padding: 0px 32px;
        gap: 48px;
        align-items: center;
        .subContainerImg{
            height: 220px;
            width: 220px;
            border-radius: 50%;
        }
        .subContainerInfos{
            display: flex;
            flex-direction: column;
            gap: 32px;
            .subContainerInfosPlus{
                display: flex;
                flex-direction: column;
                gap: 8px;
                .title{
                    margin: 0px;
                    padding: 0px;
                    font-size: 40px;
                    font-weight: bold;
                }
                .nameTitle{
                    margin: 0px;
                    padding: 0px;
                    color: #CFCFCF;
                    font-size: 20px;
                }
                .txt{
                    margin: 0px;
                    padding: 0px;
                    font-size: 16px;
                }
            }
        }
    }
    .subContainerSecond{
        display: flex;
        flex-direction: column;
        padding: 0px 32px;
        gap: 60px;
        .subContainerGlobal {
            display: flex;
            flex-direction: column;
            gap: 30px;
            .txtTitle{
                font-size: 24px;
                font-weight: bold;
            }
            .subContainerSoftware{
                display: flex;
                flex-wrap: wrap;
                gap: 40px;
                justify-content: space-around;

                .softwareContainer{
                    display: flex;
                    flex-direction: column;
                    padding: 16px 24px;
                    gap: 16px;
                    width: 160px;
                    height: 160px;
                    
                    .logo{
                        height: 100px;
                        width: auto;
                        max-width: 100%; /* S'assure que l'image ne dépasse pas le conteneur */
                        align-self: center; /* Centre l'image dans le conteneur flex */
                    }
                    .softwareName{
                        margin: 0px;
                        padding: 0px;
                        align-self: center;
                        font-size: 16px;
                        font-weight: bold;
                    }
                    .softwareLevel{
                        margin: 0px;
                        padding: 0px;
                        align-self: center;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 1150PX) {
    .container {
        padding: 60px 0px 80px 0px;
        .subContainerFirst {
            padding: 0px 16px;
            gap: 24px;
        }
        .subContainerSecond{
            padding: 0px 16px;
        }
    }
}

@media all and (max-width: 950PX) {
    .container {
        padding: 60px 20px 60px 20px;
        .subContainerFirst {
            padding: 0px;
            gap: 16px;
            .subContainerInfos{
                gap: 16px;
                .subContainerInfosPlus{
                    .title{
                        font-size: 24px;
                    }
                    .nameTitle{
                        font-size: 16px;
                    }
                    .txt{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 730PX) {
    .container {
        padding: 35px 0px 0px 0px;
        .subContainerFirst{
            flex-direction: column;
            text-align: center;
        }
    }
}

@media all and (max-width: 600PX) {
    .container {
        padding: 35px 0px 0px 0px;
    }
}